
.login-panel{
  width: 380px;
  margin: 35% auto 0 auto;
}

.login-title{
  color: rgba(244,67,54,.8)!important;
}

.btn-primary{
  background-color: #2196f3;
  border: 0;
  outline: none;
}

.btn-primary:hover{
  background-color: #2196f3;
}

.btn-primary:focus{
  background-color: #2196f3;
}

.login-input{
  border-radius: 0;
}