.operation{
  margin-right: 5px;
}

.search-wrap{
  margin-bottom: 20px;
  .form-group{
    margin-right: 10px;
  }
  .select-items{
    width: 200px;
  }
}

.table-list table td{
  vertical-align: middle!important;
}